# SF Salaries project
 using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle.

##### AUTHOR : UTHMAN OLAGOKE

**Importing necessary libraries**

In [1]:
import pandas as pd

**Reading the  Salaries.csv as a dataframe called sal.**

In [2]:
sal=pd.read_csv('salaries.csv')

In [3]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Checking the head of the DataFrame.**

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Using the .info() method to find out information about the entries.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Finding the average BasePay**

In [6]:
sal['BasePay'].mean()

66325.44884050643

**Finding  the highest amount of OvertimePay in the dataset**

In [7]:
sal['OvertimePay'].max()

245131.88

**Finding the job title of  JOSEPH DRISCOLL .**

In [8]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Finding JOSEPH DRISCOLL's pay (including benefits).**

In [9]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**The name of highest paid person (including benefits).**

In [25]:
p_max=sal['TotalPay'].max()
sal[sal['TotalPay']==p_max]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [36]:
sal[sal['TotalPay']==p_max].iloc[0]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

**The name of the person with the highest base pay**

In [33]:
b_max=sal['BasePay'].max()
sal[sal['BasePay']==b_max]['EmployeeName']

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [35]:
sal[sal['BasePay']==b_max].iloc[0]

Id                            72926
EmployeeName         Gregory P Suhr
JobTitle            Chief of Police
BasePay                   319275.01
OvertimePay                     0.0
OtherPay                   20007.06
Benefits                   86533.21
TotalPay                  339282.07
TotalPayBenefits          425815.28
Year                           2013
Notes                           NaN
Agency                San Francisco
Status                          NaN
Name: 72925, dtype: object

**The name of lowest paid person (including benefits).**

In [37]:
p_min=sal['TotalPay'].min()
sal[sal['TotalPay']==p_min]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [38]:
sal.iloc[148653]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

**The average (mean) BasePay of all employees per year.**

In [42]:
sal.groupby('Year').mean()['TotalPay']

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

In [13]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**Number unique job titles.**

In [53]:
sal['JobTitle'].nunique()
    #or
len(sal['JobTitle'].unique())

2159

**The top 5 most common jobs.**

In [17]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Number of people with the same totalpay.**

In [60]:
sal['TotalPay'].value_counts()

0.00         368
18594.00      82
123290.70     56
132242.50     49
105489.00     42
            ...
82089.93       1
48772.80       1
77232.87       1
3501.37        1
738.50         1
Name: TotalPay, Length: 138486, dtype: int64

**Job Titles represented by only one person in each year**

In [77]:
sal['Year'].value_counts()

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

In [83]:
sum(sal[sal['Year']==2011]['JobTitle'].value_counts()==1)

200

In [84]:
sum(sal[sal['Year']==2012]['JobTitle'].value_counts()==1)

190

In [85]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [86]:
sum(sal[sal['Year']==2014]['JobTitle'].value_counts()==1)

175

**Number of people have the word Chief in their job title.**

In [88]:
def chief_string (write):
    if 'chief' in write .lower().split():
        return True
    else:
        return False

In [89]:
sum(sal['JobTitle'].apply(lambda x : chief_string(x)))

477

**Checking if there is  a correlation between length of the Job Title string and Salary,(by applying the len function on each jobtitle).**

In [90]:
sal['title_len']=sal['JobTitle'].apply(len)

In [91]:
sal['title_len']

0         46
1         31
2         31
3         36
4         44
          ..
148649     9
148650    12
148651    12
148652    12
148653    26
Name: title_len, Length: 148654, dtype: int64

In [92]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Thank you!